.App {
 height: auto;

  section {
    width: 100%;

    form {
      input {
        font-size: 1.1rem;
      }
    }
    .logo {
      margin-top: 3rem;
    }
    p {
      margin-bottom: 5rem;
    };
  }


}