.home-wrapper {
  min-height: 100vh;
  width: 100vw;

  header {
    height: 20vh;
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: 0.25fr;
    padding-right: 5vw;

    .logo  {
      margin-top: 3rem;
      margin-left: 5rem;
      height: 4rem;
      width: auto;
    }

      .search {
        height: 2rem;
        max-width: 250px;
        border: 2px solid #333;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        background: white;

        input {
          border: none;
          font-size: 1rem;
          border-radius: 20px;
          width: 80%;
          height: 100%;
          padding-left: 0.5rem;
        }

        button {
          box-sizing: content-box;
          width: 1rem;
          height: 1rem;
          margin: 0;
          color: #FF5E62FF;
          background-color: transparent;
          border-radius: 5px;
          border: none;

        }
        button>i {
          color: #333;

        }
    }

    .logout {
      margin: 0;
      margin-left: 1vw;
      align-self: center;
      border-radius: 20px;
      font-size: 1rem;
      align-items: center;
      height: 2rem;
      line-height: 1rem;
    }
  }


  .column-header{
    width: 90%;
    display: grid;
    grid-template-columns:  4fr 4fr 0.5fr;
    min-height: 2rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-self: center;
    height: 1.5rem;
    padding: 0 1rem 0 1rem;
    padding-bottom: 1rem;
  }

  .column-header--list {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 2fr) repeat(2, 1fr);
    list-style: none;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    padding: 0.5rem;
  }


  .content-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    .list-wrapper {
      height: 100%;
      width: 90%;
      display: flex;
      flex-direction: column;
      border-radius: 10px;background: rgb(17,17,17);
      /*background: linear-gradient(180deg, rgba(30,30,30, 0.9) 0%, rgba(30,30,30,0.9) 100%);*/
      background-color: #fff;
      color: #333;
      overflow-y: scroll;

      .album-wrapper:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      .album-wrapper {
        width: 90%;
        display: grid;
        grid-template-columns:  4fr 4fr 0.5fr;
        grid-template-rows: 0.25fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: 12rem;
        align-content: center;
        align-self: center;


          .album {
            display: flex;
            align-items: center;

            .album-avatar {
              height: 6rem;
              margin-right: 1rem;
              opacity: 0.8;

            }

            .album-info {
              list-style: none;
              max-height: 8rem;
              overflow: hidden;

              .album-title {
                color: #FF5E62FF;
                font-size: 1.1rem;
                text-overflow: ellipsis;
                overflow: hidden;
                max-height: 5rem;
              }

              .album-year {
                color: #333;
                font-size: 0.8rem;
              }

              .album-artist {
                font-size: 1.1rem;
              }

              .album-version {
                font-size: 0.8rem;
              }

            }
          }
        .tracklist-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          overflow-y: hidden;
        }

        /*FULL TRACKLIST*/
        .tracklist-wrapper--full {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: content-box;
          min-height: 12rem;
        }

        .tracklist {
          display: grid;
          grid-template-columns: 0.5fr repeat(2, 2fr) repeat(2, 1fr);
          grid-template-rows: 0.25fr;
          list-style: none;
          max-height: 2rem;
          white-space: nowrap;
          border-radius: 10px;
          padding: 0.5rem;
        }

        .tracklist > li {

          overflow-y: hidden;
          text-overflow: ellipsis;
          height: 1rem;
          font-size: 0.8rem;
        }

        .tracklist:not(:first-child) {
          border-top: 2px solid #ddd;
        }

        .arrow {
          display: flex;
          align-self: center;
          justify-self: center;
          position: relative;
          color: #333;
        }

        .turned {
          transform: rotateZ(180deg);
        }
        .music-icon {
           display: flex;
           align-self: center;
           justify-self: center;
           position: relative;
           color: #333;
         }

      }
      .album-wrapper--full {
        width: 90%;
        display: grid;
        grid-template-columns:  4fr 4fr 0.5fr;
        grid-template-rows: 100%;
        box-sizing: content-box;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: auto;
        align-content: center;
      }
    }
  ;
  }
}

@media (max-width: 1000px) {
  .home-wrapper .column-header {
    display: none;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper {
    grid-template-columns:  4fr 1fr;
    min-height: 9rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist-wrapper {
    display: none;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-avatar {
    height: 5rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-title {
    font-size: 1.1rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-artist {
    font-size: 1rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .music-icon {
    justify-self: center;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist-wrapper--full {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: content-box;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper--full {
    width: 85%;
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: repeat(auto-fill, auto);
    box-sizing: content-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: auto;
    align-content: center;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist > li {
    font-size: 0.6rem;
  }
}

@media (max-width: 500px) {
  .home-wrapper .content-wrapper .list-wrapper {
    width: 80%;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .home-wrapper {
    justify-content: space-evenly;
  }

  .home-wrapper header {
    height: 20vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 4fr repeat(2, 1fr);
    grid-template-columns: 0.25fr;
  }

  .home-wrapper .content-wrapper {
    height: 50%;
  }

  .home-wrapper header .logo {
    justify-self: center;
    margin: 0;
  }
  .home-wrapper header .logout {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-title {
    font-size: 0.8rem;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-artist {
    font-size: 0.8rem;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-year {
    font-size: 0.6rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-info .album-version {
    font-size: 0.6rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper {
    grid-template-columns:  6fr 1fr;
    min-height: 8rem;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .music-icon {
    justify-self: flex-end;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist-wrapper--full {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: content-box;

  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper--full {
    /*width: 85%;*/
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: repeat(auto-fill, auto);
    box-sizing: content-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: auto;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist > li {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .album .album-avatar {
    height: auto;
    width: 4rem;
  }

  .home-wrapper .content-wrapper .list-wrapper .album-wrapper .tracklist-wrapper--full {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: content-box;
  }
  .home-wrapper .content-wrapper .list-wrapper .album-wrapper--full {
    width: 90%;
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: repeat(auto-fill, auto);
    box-sizing: content-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: auto;
    align-content: center;

  }


}
